## Таблица Markdown по международным источникам

| Позиция        | Ссылка        |  
| :------------- |:-------------:|  
| China - Fines (62% Fe) - USD/t - CFR ex-Australia - Offer     | name |
| China - HRC - USD/t - FOB - Offer                             | name |
| Australia - Hard coking coal - USD/t - FOB - Offer            | name |
| Turkey - Steel scrap HMS 1&2 (80:20) - USD/t - CFR ex-USA ... | name |
| Turkey - Rebar - USD/t - FOB - Contract                       | name |
| Turkey - HRC - USD/t ex-Ukraine - Contract                    | name |
| Republic of South Africa - Mn ore (36-38% Mn) - USD Mn ...    | name |
| Western Europe - Silicomanganese - EUR/t - DDP - CO           | name |
| Western Europe - Ferromolybdenum - USD/kg - Mo FCA            | name |
| Western Europe - Ferrovanadium - USD/kg V - FCA - Cont        | name |
| Russia - HRC - USD/t - FOB Black Sea - Assessments            | name |  

_______

In [141]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

## Произведём закачку найденных данных с `Investing.com`

In [136]:
tickers = pd.read_csv(r'C:\Users\Дмитрий\Desktop\Watchlist_18022021.csv')
tickers.head()

,Название,Тикер,Цена,Откр.,Макс.,Мин.,Изм.,Изм.%,Объём,Время
0,Dow Jones Iron & Steel,.DJUSST,"240,48","244,38","245,04","240,35","-1,95","-0,80%",6.993.752,02:10:18
1,Фьючерс на нефть Brent,BRRTSc1,"63,72","63,15","64,73","62,84","+0,68","+1,08%",1.974.054,17/02
2,USD/RUB - Доллар США Российский рубль,USD/RUB - Доллар США Российский рубль,"73,6710","73,7194","73,8515","73,5539","-0,0484","-0,07%",-,13:21:56
3,ZCE Silicomanganese,CESMc1,"7.300,00","7.300,00","7.300,00","7.300,00","-22,00","-0,30%",2,08:00:00
4,ZCE Ferrosilicon,CESFc1,"6.822,00","6.822,00","6.822,00","6.822,00","+224,00","+3,40%",-,08:00:00

In [137]:
tickers.columns = ['name', 'ticker', 'price', 'open', 'max', 'min', 'change', 'change_percent', 'volume', 'date_time']
tickers.head()

,name,ticker,price,open,max,min,change,change_percent,volume,date_time
0,Dow Jones Iron & Steel,.DJUSST,"240,48","244,38","245,04","240,35","-1,95","-0,80%",6.993.752,02:10:18
1,Фьючерс на нефть Brent,BRRTSc1,"63,72","63,15","64,73","62,84","+0,68","+1,08%",1.974.054,17/02
2,USD/RUB - Доллар США Российский рубль,USD/RUB - Доллар США Российский рубль,"73,6710","73,7194","73,8515","73,5539","-0,0484","-0,07%",-,13:21:56
3,ZCE Silicomanganese,CESMc1,"7.300,00","7.300,00","7.300,00","7.300,00","-22,00","-0,30%",2,08:00:00
4,ZCE Ferrosilicon,CESFc1,"6.822,00","6.822,00","6.822,00","6.822,00","+224,00","+3,40%",-,08:00:00

In [138]:
tickers = tickers.drop(['change_percent'], axis=1)
tickers.head()

,name,ticker,price,open,max,min,change,volume,date_time
0,Dow Jones Iron & Steel,.DJUSST,"240,48","244,38","245,04","240,35","-1,95",6.993.752,02:10:18
1,Фьючерс на нефть Brent,BRRTSc1,"63,72","63,15","64,73","62,84","+0,68",1.974.054,17/02
2,USD/RUB - Доллар США Российский рубль,USD/RUB - Доллар США Российский рубль,"73,6710","73,7194","73,8515","73,5539","-0,0484",-,13:21:56
3,ZCE Silicomanganese,CESMc1,"7.300,00","7.300,00","7.300,00","7.300,00","-22,00",2,08:00:00
4,ZCE Ferrosilicon,CESFc1,"6.822,00","6.822,00","6.822,00","6.822,00","+224,00",-,08:00:00

In [139]:
tickers.info(), tickers.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       27 non-null     object
 1   ticker     27 non-null     object
 2   price      27 non-null     object
 3   open       27 non-null     object
 4   max        27 non-null     object
 5   min        27 non-null     object
 6   change     27 non-null     object
 7   volume     27 non-null     object
 8   date_time  27 non-null     object
dtypes: object(9)
memory usage: 2.0+ KB

(None,
 name         0
 ticker       0
 price        0
 open         0
 max          0
 min          0
 change       0
 volume       0
 date_time    0
 dtype: int64)

In [140]:
# Float columns
float_cols = ['price', 'open', 'max', 'min', 'change']
for col in float_cols:
    tickers[col] = tickers[col].apply(lambda x: float(x.split()[0].replace(',', '').replace('.', '')))
tickers[float_cols] = tickers[float_cols].astype(float)
tickers.head()

,name,ticker,price,open,max,min,change,volume,date_time
0,Dow Jones Iron & Steel,.DJUSST,24048.0,24438.0,24504.0,24035.0,-195.0,6.993.752,02:10:18
1,Фьючерс на нефть Brent,BRRTSc1,6372.0,6315.0,6473.0,6284.0,68.0,1.974.054,17/02
2,USD/RUB - Доллар США Российский рубль,USD/RUB - Доллар США Российский рубль,736710.0,737194.0,738515.0,735539.0,-484.0,-,13:21:56
3,ZCE Silicomanganese,CESMc1,730000.0,730000.0,730000.0,730000.0,-2200.0,2,08:00:00
4,ZCE Ferrosilicon,CESFc1,682200.0,682200.0,682200.0,682200.0,22400.0,-,08:00:00

In [149]:
tickers.date_time.apply(lambda x: x.astype('datetime'))

AttributeError: 'str' object has no attribute 'astype'